input{
    width:20%;
    height: 15px;
    background-color: beige;
    border-color: black;
}

.smallTextBox{
    width:8%;
    height: 7%;
    background-color: beige;
    border-color: black;
}

.mediumTextBox{
    width:25%;
    height: 7%;
    background-color: beige;
    border-color: black;
}

.largeTextBox{
    width:100%;
    height: 100px;
    background-color: beige;
    border-color: black;
}